@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* antonio-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  src: url("./Assets/fonts/antonio-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  src: url("./Assets/fonts/league-spartan-v14-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  font-family: "League Spartain", sans-serif;
}
html,
body {
  overscroll-behavior: none;
}
